
<h1>Team</h1>

<div class="team">
  <h3>Team Name: <%= @team.name %></h3><br>
  <h4>Team Motto: <%= @team.motto %> </h4><br>
</div><br>

<% @heros.each do |hero| %>
  <div class="heros">
    <p>Hero Name: <%= hero.name %></p><br>
    <p>Hero Power: <%= hero.power %></p><br>
    <p>Hero Biography: <%= hero.bio %></p>
  </div><br>
<% end %>
